.Bolly { background-color: #ffffff; padding-left: 1px; padding-right: 1px; padding: 4px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; }
.Bordar { background: #f7f7f7; padding: 6px; border-bottom: 1px solid #e6e6e6; }
.Fmvideo { background: #d9ebff; border-left: 0px solid #9fcdff; margin: 2px 0; padding: 4px 4px; font-weight: bold; }
.Fmvideo2 { background-color: #f4f4f4; padding-left: 1px; padding-right: 1px; padding: 3px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; font-style: italic; text-transform: capitalize; }
.Jum { margin: 1px; padding: 5px; border: 1px solid #b7e2ff; background: url(http://mycsszone.mobie.in/pack/6/logo.jpg) repeat-x 40% bottom; }
.L { background-color: #ffffff; padding-left: 1px; padding-right: 1px; padding: 3px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; }
.Let { background-color: #ffffff; padding-left: 1px; padding-right: 1px; padding: 3px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; }
.Mati { background: #d9ebff; border-left: 0px solid #9fcdff; margin: 2px 0; padding: 4px 4px; }
.Ok { color: #fff; padding: 6px; font-weight: bold; background: #960000; }
.Phootki { background-color: #ffffff; padding-left: 1px; padding-right: 1px; padding: 3px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; }
.Phootki a { color:  #960000; }
.Photke { background-color: #ffffff; padding-left: 1px; padding-right: 1px; padding: 3px; border-top: 1px #ffffff solid; border-bottom: 1px #dcdcdc solid; font-weight: bold; }
.Photke a { color: #960000; }
.Robiul { color: #fff; padding: 6px; font-weight: bold; text-align: center; background: #960000; }
.Saheb4 { color: #ddd; padding: 5px; background: #333; text-align: center; }
.Saheb4 a { color:  #fff; }
.zlogo { color: #fff; padding: 3px; font-weight: bold; background: #960000; }

